* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f0fff0;
}
h1 {
  text-align: center;
  font-size: 48px;
  padding: 20px;
  background-color: #ffe0d8;
  font-weight: bold;
  border-bottom: 1px solid;
}
p, label {
  padding: 10px;
}

.result {
  text-align: center;
  margin-top: 10px;
  font-size: 32px;
  padding: 40px;
}

.guess {
  text-align: center;
  padding: 0 1em 0 1em;
  width: 40%;
  margin: auto;
  border: 2px dashed #ffe0d8;
}
.guess label[for="number"] {
  display: block;
  margin: auto;
  padding-bottom: 20px;
}
.guess input[type="text"] {
  margin: auto;
  margin-bottom: 1.5em;
  color: darkgreen;
}
.guess label[for="submit"] {
  display: inline-block;
}
.guess input[type="button"] {
  display: inline;
  width: 1em;
  height: 1em;
}
.left {
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 20px;
}
.hint {
  display: inline-block;
  float: right;
  padding-right: 0em;
  margin-right: 1em;
  margin-top: 1em;
}
.hint label[for="hint"] {
  display: inline-block;
  margin-left: auto;
  margin-bottom: auto;
}
.hint input[type="button"] {
  display: inline-block;
  width: 1em;
  height: 1em;
}
.hintText {
  text-align: center;
  margin-top: 1.3em;
  display: none;
}
.resetGame {
  display: inline-block;
  width: 9.4em;
  border: 2px dashed #ffe0d8;
  padding-left: 0em;
  margin-left: 1em;
  margin-top: 1em;
}
.resetGame input {
  display: inline;
  width: 1em;
  height: 1em;
}
