* {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
body {
  background-color: #f0fff0;
}
h1 {
  text-align: center;
  font-size: 48px;
  padding: 20px;
  background-color: #ffe0d8;
  font-weight: bold;
  border-bottom: 1px solid;
}
p, label {
  padding: 10px;
}

.result {
  text-align: center;
  margin-top: 10px;
  font-size: 32px;
  padding: 40px;
}

.guess {
  text-align: center;
  padding-bottom: 1em;
  width: 40%;
  margin: auto;
  border: 1px dashed #ffe0d8;
}
.guess label[for="number"] {
  display: block;
  margin: auto;
  padding-bottom: 20px;
}
.guess label[for="submit"] {
  display: inline-block;
  width: 50%;
  background-color: red;
  position: relative;
}
.guess input[type="button"] {
  display: inline;
  width: 1em;
  height: 1em;
}
.guess input[type="text"] {
  margin: auto;
  margin-bottom: 1.5em;
}
.left {
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 20px;
}
.resetGame {
  width: 24%;
  border: 1px dashed #ffe0d8;
}
.resetGame input {
  display: inline;
  width: 1em;
  height: 1em;
}
